#titleBar {
    background-color: khaki;
}

#titleBar h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 64px;
    
}


#container {
display:grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: repeat(16, 1fr);
gap: 0;
width: 480px;
height: 480px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin:auto;
box-shadow: 0px 10px 20px grey;

}


#options {
    float:left;
    position:absolute;
    top: 300px;
    left: 150px;
    margin:auto;
}

.optionButton {
  background-color: #ff4242;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 10px;
}

#rainbowButton {
    margin-top: 10px;
    padding-right: 40px;
    text-align: center;
}

#colorPicker {
    margin-top: 30px;
    width: 80px;
    height: 80px;
    border: none;
    padding: 0;
    box-shadow: 0px 0px 5px grey;

}

#optionButtonList {
    list-style-type: none;
}

#slideContainer {
width: 300px;
height: 480px;
position: absolute;
top: 1050px;
bottom: 0px;
left: 200px;
right: 200px;
margin:auto;
text-align: center;
}

#sliderLabel {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
}

#pixelSizeControl {
    width: 300px;
    margin-top: 15px;
}